.parrafoindex{
    background-image: 
    radial-gradient(circle at 50% -20.71%, #eaecd0 0, #e6edd2 6.25%, 
    #e2eed4 12.5%, #deefd6 18.75%, #daf0d9 25%, #d6f1dc 31.25%, #d3f1df 37.5%, 
    #d0f2e2 43.75%, #cdf2e6 50%, #cbf2ea 56.25%, #c9f2ed 62.5%, #c8f2f1 68.75%, #c7f2f4 75%, 
    #c7f2f7 81.25%, #c8f1fa 87.5%, #c9f1fd 93.75%, #cbf0ff 100%);

}

header {
    background-image: linear-gradient(to right, red, black);
    padding: 20px 0; /* Espacio interno alrededor del encabezado */
}

.container1 {
    max-width: 1440px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    text-align: center; /* Centra horizontalmente el contenido dentro del contenedor */
}

.header-img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    margin-top: 20px;
    
}

.boton-flotante {
    position: fixed;
    bottom: 20px; /* Distancia desde el borde inferior */
    right: 20px; /* Distancia desde el borde derecho */
    background: linear-gradient(to right, #c0c0c0, #ffffff); /* Gradiente de gris plateado a blanco de izquierda a derecha */
    color: #000000; /* Color del texto negro */
    font-family: Arial, sans-serif; /* Fuente sin serifa */
    font-size: 16px; /* Tamaño de fuente */
    padding: 10px 20px; /* Espacio interno del botón */
    border-radius: 20px; /* Bordes redondeados */
    text-decoration: none; /* Quitar subrayado del enlace */
    transition: background 0.3s ease; /* Efecto de transición suave */
  }
  
  .boton-flotante:hover {
    background: linear-gradient(to right, #ffffff, #c0c0c0); /* Cambio de gradiente al pasar el mouse */
  }
  


//   ---formulario-----------------------------------//

/* Estilos generales */

.formulario {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .formularioi {
    width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: #4caf50;
  }
  
  button[type="button"] {
    background: linear-gradient(to bottom, #ff4d4d, #990000); /* Gradiente de rojo a oscuro */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="button"]:hover {
    background: linear-gradient(to bottom, #ff3333, #660000); /* Gradiente de rojo a más oscuro */
  }
  


