$colorboton: #39145c;
$letrasblancas: white;
$colornavbar: black;
$colorlinknavbar: #fff;
$hover: white;
$grises: grey;
$gradient: -webkit-linear-gradient(101deg, #aebbc1,#7f9ead,#58a4ca,#58a4ca,#58a4ca);





